<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>DomoMaker</title>
  <script crossorigin src="https://unpkg.com/react@15/dist/react.min.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
  <script crossorigin src="https://unpkg.com/prop-types/prop-types.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <nav><a href="/login"><img id="logo" src="/assets/img/face.png" alt="face logo"/></a>
    <div class="navlink"><a href="/logout">Log out</a></div>
	<div class="navlink"><a href="/maker">Maker</a></div>
  </nav>
  <section id="faq">
	<div class="question">
		<h4>How old can my Domo grow to be?</h4>
		<h5>A Domo never grows once you adopt it.</h5>
	</div>
	<div class="question">
		<h4>What do I feed my Domo?</h4>
		<h5>Nothing. They will feed themselves.</h5>
	</div>
	<div class="question">
		<h4>What does changing the color of a Domo do?</h4>
		<h5>It helps you organize your Domos and gives them a colorful box to live in.</h5>
	</div>
	<div class="question">
		<h4>Why can't I see the FAQs without logging in?</h4>
		<h5>I wanted to create multiple pages under authentication in order to test switching between pages for my own project.</h5>
	</div>
  </section>
  <div id="domoMessage"><img id="speech" src="/assets/img/speech.png" alt="speech box"/>
    <h3><span id="errorMessage"></span></h3><img id="domo" src="assets/img/domo.png" alt="domo"/>
  </div>
  
</body>
</html>