html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#logo {
    height: 40px;
    width: auto;
    padding-top: 25px;
	padding-left: 25px;
    float:left;
    border-radius: 8px;
}

nav {
	border: 2px dotted grey;
	margin: auto;
    width: 80%;
    height: 100px;
    background-color: #fff4e8;
	min-width: 1000px;
}

nav:nth-child(1) {
    padding-left: 25px;
}

.navlink {
    padding: 5px;
    padding-top: 25px;
    padding-left: 20px;
    color: white;
    font-size: 2em;
	float: left;
	color: black;
}

.navlink a, .navlink a:link, .navlink a:visited, .navlink a:hover, .navlink a:active {
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 4px;
    background-color: #dbb587;
    transition: background-color 0.2s ease;
	color: black;
    transition: color 0.2s ease;
}

.navlink a:hover {
    transition: background-color 0.2s ease;
    background-color: white;
}

.industryForm {
	width: 80%;
	margin: auto;
    border: 2px dotted grey;
    height: 50px;
    margin-top:0px;
    padding-top:10px;
    background-color: #fff4e8;
	min-width: 1000px;
}

.industryForm label {
    display: inline-block;
    width: 75px;
    margin-left: 10px;
    font-size: 1.2em;
    float: left;
    color: black;
}

.industryForm input[type=text] {
    float:left;
}

.makeIndustrySubmit {
    transition: background-color 0.4s ease;
    display: inline;
    width: 150px;
    background-color:  #dbb587;
    color: black;
    text-decoration: bold;
	margin-left: 50px;
}

.makeIndustrySubmit:link, .makeIndustrySubmit:visited, .makeIndustrySubmit:hover, .makeIndustrySubmit:active {
    color: black;
}

.makeIndustrySubmit:hover {
    transition: background-color 0.2s ease;
    background-color: #fff4e8;
	transition: color 0.2s ease;
    color: black;
}

.mainForm {
    height: 300px;
    width: 350px;
    margin: 0 auto;
    padding-top: 350px;
    font-size: 1.2em;
}

.mainForm h3 {
    text-align: center;
}

.mainForm label {
    display: inline-block;
    width: 100px;
    margin-right: 10px;
    text-align: right;
    font-size: 1.2em;
}

.formSubmit {
    transition: background-color 0.4s ease;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 14px;
    font-size: 1.2em;
    width: 200px;
    background-color: grey;
    border-radius: 2px;
    border-color: #66acee;
    padding: 3px 0px;
    color: white;
    text-decoration: none;
}

.formSubmit:link, .formSubmit:visited, .formSubmit:hover, .formSubmit:active {
    color: white;
}

.formSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #338acc;
}

#user, #pass, #pass2 {
    text-align: center;
    font-size: 1.1em;
    width: 180px;
	color: #dbb587;
    border-radius: 6px;
}

#user:focus, #pass:focus, #pass2:focus {
    outline: none;
    box-shadow: 0px 0px 2px 2px #dbb587;
}

#industryMessage {
    display:none;
    top: 250px;
    width: 250px;
    height: 650px;
    position: absolute;
    z-index: 200;
    right: 0px;
    overflow: hidden;
}

#industryMessage h3 {
    width: 80%;
	margin: auto;
    position: absolute;
    top: 0px;
}

#speech {
    height: 120px;
    width: 250px;
    z-index:300;
}

#errorMessage {
    font-size: 1.2em;
    font-weight: bold;
    color: red;
    font-style: italic;
}

#industry {
    z-index: 225;
    margin-top: -20px;
    margin-left: 135px;
    height: 450px;
    width: 300px;
    -ms-transform: rotate(330deg);
    -webkit-transform: rotate(330deg); 
    transform: rotate(330deg);
}

#industries {
    width: 80%;
    min-width: 400px;
	background-color:  #fff4e8;
    border: 2px dotted grey;
    margin: 0 auto;
    margin-top: 20px;
}

.account {
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 2px;
    border: 2px solid #dbb587;
    background-color: #dbb587;
    padding: 10px;
    min-height:60px;
    overflow: hidden;
}

.industry {
    width: 90%;
    margin: 0 auto;
    margin-top: 2px;
    margin-bottom: 2px;
    border: 2px solid #dbb587;
    
    background-color: #dbb587;
    padding: 10px;
    min-height:60px;
    overflow: hidden;
}

.industry img{
	transition: box-shadow .5s ease-out;
    box-shadow: none;
}

.industry:hover {
    transition: border-color 0.5s ease-out,
				background-color .5s ease-out;
    border-color: rgba(255,255,255, 0.8);
	background-color: white;
}

.industry:hover img{
	transition: box-shadow .2s ease-out,
    box-shadow: 0px 0px 4px 4px #dbb587;
}

img.industryFace {
    margin-left: 25px;
    margin-right: 10px;
    height: 100px;
    width: auto;
    border-radius: 4px;
    margin-top:10px;
    float:left;
}

h3.emptyIndustry {
    width: 400px;
    font-size: 1.5em;
    margin: 0 auto;
    text-align: center;
    margin-top: 18px;
}

h3.industryName {
    float:left;
    width: 200px;
    font-weight: bold;
    padding-left: 65px;
    font-size: 1.5em;
	color: white;
	text-shadow: 
				0px 3px 15px black,
				0px 2px 2px black;
}

h3.industryAge {
    float:right;
    text-align: left;
    width: 100px;
    font-weight: bold;
    padding-right: 40px;
    font-size: 1.5em;
	color: white;
	text-shadow: 
				0px 3px 15px black,
				0px 2px 2px black;
}

.industry:first-child {
    margin-top: 10px;
}

.industry:last-child {
    margin-bottom:10px;
}

#faq{
	width: 60%;
    min-width: 1000px;
    border: 2px solid #55acee;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 100px;
}

.question{
	width: 95%;
    margin: 0 auto;
    margin-top: 2px;
    margin-bottom: 2px;
    border: 2px solid #55acee;
    border-radius: 4px;
    background-color: #55acee;
    min-height:60px;
    overflow: hidden;
}

h4{
	width: 495px;
    font-weight: bold;
    padding-left: 65px;
    font-size: 1.5em;
	float: left;
}

h5{
    float:right;
    text-align: left;
    width: 400px;
    font-weight: bold;
    padding-right: 40px;
    font-size: 1.2em;
}